.col-md-2 {
  height: 100px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.col-md-8{
 background-color: #F2E4CA;
}

.container-fluid {
  background-color: #B30838;
  color: white;
}

nav { 
  background-color: #DDDDDD;
  text-align: center;
}

.col-md-4 {
  margin-top: 25px;
  height: 50px;
  background-color: #B30838;
}

#header {
  height: 250 px;
  background-color:#B30838;
  font: white;
}


#footer {
  background-color: #EAD3A8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  width: 1200px;
  height: 550px;
}

#carosel-example-generic {
  width: 100%;
}


.col-md-12 {
  height: 50%;
  width: 50%;
  margin: auto;
}

.btn btn-default btn-lg {
  margin: auto;
}
