.col-md-2 {
  height: 100px;
}

.container-fluid {
  background-color: #B30838;
  color: white;
}

nav { 
  color: #B30838;
  background-color: white;
  text-align: center;
}

.col-md-4 {
  margin-top: 25px;
  height: 50px;
  background-color: #b30838;
}

#header {
  height: 250 px;
  background-color:#B30838;
  font: white;
}

#footer {
  background-color: #EAD3A8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
