<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
 <div class="container-fluid" class="wrapper">
 <div id="header">
   <h1>{{ page.title }}</h1>
<nav>
<div class="row">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-4">
        <a href="/">Home</a>
      </div>
      <div class="col-md-4">
        <a href="events.html">Events</a>
     </div>
      <div class="col-md-4">
        <a href="contact_us">About Us</a>
     </div>
    </div>
   </div> 
  </div>
 </div>
 </nav>
</div>
 <content class="row">
  {{ content }} 
 </content>
 <footer class="row" id="footer">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     {{ footer }}
   </div>
   <div class="col-md-2"></div>
 </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
